.carrito a {
    text-decoration: none;
    border-bottom: none;
    text-align: center;
}

.carrito-icono,
a {
    text-decoration: none;
    text-align: center;
    font-family: 'roboto' sans-serif;
    font-size: large;
    font-weight: 900;
    color: #2D9CDB;
}

.carrito-icono:hover {
    border-bottom: none;
}

.carrito {
    float: right;
}

.carrito-icono {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;

}



.carrito-icono p {
    border: 2px solid #2D9CDB;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.carrito-icono img {
    width: 2.5em;
    height: 2.5em;
}

@media  screen and (max-width: 600px) {
    .carrito-icono img {
        width: 1.5em;
        height: 1.5em;
    }

    
}