* {
    margin: 0;
}

body {
    box-sizing: content-box;
}
nav {
    text-align: center;
}
section {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}
section h1 {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
.contenido {
    border: solid 1px black;
    padding: 10px;
    width: 100%;
}

h1 {
    border: solid 1px black;
    color: rgb(226, 236, 242);
    background-color: black;
    width: 100%;
}

.contenido form {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.contenido input[type="text"]{
    margin: 10px;
}

#mensaje {
    height: 15em;
}

#btn-send {
    text-align: center;
}